# Dependencies saved to package.json will be configured with an exact version rather than using npm's default semver range operator.
# Reference: https://docs.npmjs.com/cli/v10/commands/npm-install#save-exact
save-exact=true
