:root {
	color-scheme: light dark;
}

body {
	padding: 1rem;
}

.stack-lg > * + * {
	margin-block-start: 4rem;
}

.stack-md > * + * {
	margin-block-start: 1rem;
}

.stack-sm > * + * {
	margin-block-start: 0.5rem;
}

nav ul,
nav ol {
	padding-inline-start: revert;
	list-style-type: revert;
}

label {
	display: block;
	inline-size: max-content;
}

.heading {
	margin-block: 0;
}

.category-name,
.element-name {
	padding-block: 0.5em;
	padding-inline: 1rem;
}

.category-name {
	color: white;
	background-color: #222;
}

.element-container {
	border: 0.0625rem solid #ddd;
}

.element-name {
	display: flex;
	row-gap: 0.25em;
	column-gap: 0.5em;
	align-items: center;
	color: #222;
	background-color: #eee;
	border-block-end: 0.0625rem solid #ddd;
}

.element-name code::before {
	content: "<";
}

.element-name code::after {
	content: ">";
}

.element {
	padding: 1rem;
}
