.gfl-root {
	/* Custom Properties */

	/* Typography
	@link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--step-0: clamp(1rem, 1rem + 0vw, 1rem);
	--step-1: clamp(1.2rem, 1.1857rem + 0.0714vw, 1.25rem);
	--step-2: clamp(1.44rem, 1.405rem + 0.175vw, 1.5625rem);
	--step-3: clamp(1.728rem, 1.6637rem + 0.3216vw, 1.9531rem);
	--step-4: clamp(2.0736rem, 1.9685rem + 0.5254vw, 2.4414rem);
	--step-5: clamp(2.4883rem, 2.3273rem + 0.8049vw, 3.0518rem);

	/* Colors */
	--color-html: hsl(10deg 88% 55%);

	/* Properties */
	color-scheme: light dark;
}

:root:has(#gfl-theme-picker [value="light"]:checked) {
	color-scheme: light;
}

:root:has(#gfl-theme-picker [value="dark"]:checked) {
	color-scheme: dark;
}

.gfl-heading {
	padding: 0.25em;
	margin-block: 0;
	text-wrap: balance;
}

h1.gfl-heading {
	font-size: var(--step-5, revert);
	color: hsl(from var(--color-html, revert) h s 100%);
	background-color: var(--color-html, revert);
}

h2.gfl-heading {
	font-size: var(--step-4, revert);
}

h3.gfl-heading {
	font-size: var(--step-3, revert);
}

h4.gfl-heading {
	font-size: var(--step-2, revert);
}

h5.gfl-heading {
	font-size: var(--step-1, revert);
}

h6.gfl-heading {
	font-size: var(--step-0, revert);
}

.gfl-heading a {
	font-weight: normal;
}

.gfl-heading code {
	font-size: 80%;
	text-transform: lowercase;
}

.gfl-category-name {
	color: light-dark(#fff, #111);
	background-color: light-dark(#222, #eee);
}

.gfl-element-header {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: light-dark(#222, #eee);
	background-color: light-dark(#eee, #444);
}

.gfl-element-header .gfl-heading {
	padding: revert;
}

.gfl-element-header ul[role="list"] {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	padding-inline-start: 0;
	margin-block: 0;
	list-style-type: none;
}

.gfl-element-type > label {
	display: block;
	max-inline-size: max-content;
}

.gfl-category-container + .gfl-category-container {
	margin-block-start: 6rem;
}

.gfl-category-name + .gfl-element-container {
	margin-block-start: 2rem;
}

.gfl-separator-elements {
	margin-block: 2rem;
	border: 1px solid gray;
}

.gfl-menu-container {
	position: sticky;
	inset-block-start: 1rem;
	z-index: 1;
	padding: 0.75em;
	margin-block: 1rem;
	outline: 1px solid;
	background-color: Canvas;
}

.gfl-menu-container details {
	padding-inline: 0.5em;
	color: light-dark(#222, #fafafa);
	background-color: light-dark(hsl(0deg 0% 95%), hsl(0deg 0% 20%));
	border-radius: 0.25rem;
}

.gfl-menu-container details > * {
	padding-block: 0.75em;
}

.gfl-menu-container details > summary {
	font-weight: bold;
	cursor: default;
}

.gfl-menu-container details > form {
	display: grid;
	gap: 0.5em;
}

.gfl-menu-container details > form > label {
	padding: 0.25em;
	background-color: light-dark(hsl(0deg 0% 100%), hsl(0deg 0% 30%));
	border-radius: 0.25rem;
}

.gfl-repel {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: flex-start;
	justify-content: space-between;
}

.gfl-repel > * {
	flex: 1;
}

.visually-hidden,
.gfl-skip-link:not(:focus) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	white-space: nowrap; /* Stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	border: 0 !important;
	clip-path: inset(50%);
}

.gfl-skip-link:focus-visible {
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: 1em;
	color: light-dark(white, black);
	text-decoration: none;
	background-color: light-dark(black, white);
}
